<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
    <ol class="list list-number">
          <li>
            <a href="/fishing-licences/when-you-need-a-licence">When you need a licence</a>
          </li>
          <li>
            <a href="/fishing-licences/number-of-rods-you-can-use">Number of rods you can use with your licences</a>
          </li>
          <li>
            <a href="/fishing-licences/fishing-in-the-thames">Fishing in the Thames</a>
          </li>
          <li>
            <a href="/fishing-licences/fishing-in-scotland-northern-ireland">Fishing in Scotland and Northern Ireland</a>
          </li>
    </ol>
</nav>
<hr />
