<div class="govuk-box-nofill">

  <img src="{{ imgpath }}logo_ea_150px.png" alt="Environment Agency" />

  <h2 class="heading-medium">Coarse and non-migratory trout licence</h2>
<ul>
  <li>
    12-month full licence
  </li>
  <li>
      Covers up to <span class="bold-small">2 rods</span>
    </li>
  <li>
    Valid from <span class="bold-small">1 April 2016</span> at midnight to <span class="bold-small">2 March 2017</span> at 11.59pm
  </li>
  <li>
    Fishing licence number <span class="bold-small">345 612 895</span>
  </li>
  <li>
    Can only be used by <span class="bold-small">Alan Smith</span>
  </li>
</ul>
</div>
