<div class="related-links">
  <h2 class="heading-medium">Fishing and hunting</h2>

  <ul class="font-xsmall">
    <li><a href="/start">Buy a fishing rod licence</a></li>
    <li><a href="/fishing-licences/when-you-need-a-licence">When you need a fishing licence</a></li>
    <li><a href="https://www.gov.uk/freshwater-rod-fishing-rules">Freshwater rod fishing rules</a></li>
    <li><a href="https://www.gov.uk/browse/environment-countryside/fishing-hunting" class="bold-xsmall">More</a></li>
  </ul>
</div>
