{% extends "layout.html" %}

{% set main_title = "Upload progress" %}

{% block page_title %}
  {{ main_title }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        {{ main_title }}
      </h1>

      <form class="form" method="get" action="{{form_action}}">



        <div role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" class="progress" style="margin: 60px 0 30px 0;">
          <h2 class="bold-medium">report-0001.csv 40% uploaded</h2>
          <div class="progress-bar">
              <div class="progress-percentage forty"></div>
          </div>
        </div>

                <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" class="progress" style="margin: 60px 0 30px 0;">
                  <h2 class="bold-medium">report-0002.csv 60% uploaded</h2>
                  <div class="progress-bar">
                      <div class="progress-percentage sixty"></div>
                  </div>
                </div>


                        <div role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" class="progress" style="margin: 60px 0 30px 0;">
                          <h2 class="bold-medium">report-0001.csv 38% uploaded</h2>
                          <div class="progress-bar">
                              <div class="progress-percentage thirty-eight"></div>
                          </div>
                        </div>

        <a href="/upload/success">Success</a><br />
        <a href="/upload/failure">Failure</a>

      </form>

    </div>
  </div>
</main>

{% endblock %}
