{% extends "layout.html" %}

{% set main_title = "Manage visit types" %}

{% block page_title %}
  {{ main_title }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        {{ main_title }}
      </h1>

      <table class="small-font">
        <tr>
          <th colspan="4">
            Visit type
          </th>
        </tr>
        <tr>
          <td>
            Disease surveillance - TB

          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-toggle">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;" valign="top">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;" valign="top">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr class="hide-list">
          <td colspan="4">
            <p>
              Combined visit types
            </p>
            <ul class="list-bullet">
              <li>Combined RPA and APHA Sheep and Goats inspections/survey</li>
              <li>Disease surveillance - Salmonella National Control Plan</li>
              <li>Welfare of animals (slaughter or killing) inspection</li>
              <li>Poultry meat marketing terms inspection</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Disease surveillance - Brucellosis (sheep and goats) APHA
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Combined RPA and APHA Sheep and Goats inspections/survey
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Disease surveillance - Salmonella National Control Plan
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Disease surveillance - Avian Influenza
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Welfare of animals (slaughter or killing) inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Animal health &amp; welfare cross compliance inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Poultry meat marketing terms inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Veterinary medicine residue inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Welfare on farms (WOFAR) inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Egg marketing inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
          Egg hygiene inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            National feed audit inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            AFUs and other TB-related inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Animal by-products incinerators inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Imported animals inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Animal gatherings inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            RPA Cross compliance inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="list-">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            RDPE compliance monitoring inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Basic (was Single) Payment Scheme Land Eligibility Inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Sheep and Goat (SAG) identification inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
        <tr>
          <td>
            Cattle identification inspection
          </td>
          <td style="text-align:right;" valign="top">
            <a href="#" class="">View&nbsp;combined&nbsp;visits</a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/change-type-example">Change <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
          <td style="text-align:right;">
            <a href="/visit-types/delete">Delete <span class="visuallyhidden">Disease surveillance - TB</span></a>
          </td>
        </tr>
      </table>


      <form class="form" method="get" action="{{form_action}}">


          <div class="form-group" style="margin: 30px 0 10px 0;">
            <input class="button" type="submit" value="Create new visit type">
          </div>

      </form>
            <p>
              <a href="/visit-type/create">Cancel</a>
            </p>

    </div>
  </div>
</main>



{% endblock %}
