{% extends "layout.html" %}

{% set main_title = "Farm visits coordination" %}

{% block page_title %}
  {{ main_title }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <!--h1 class="heading-xlarge">{{ main_title }}</h1 -->

      <dl class="font-medium" style="margin-top: 60px;">
        <dt>
          List of farm visits was last updated on
        </dt>
        <dd class="bold-large" style="margin: 10px 0 40px 0">
          1 April 2016 9:00am
        </dd>
        <dd>
          <a href="#" class="font-small">Download latest report</a>
        </dd>
      </dl>

      <form method="get" action="/upload">
        <div class="form-group" style="margin: 10px 0;">
          <input class="button" type="submit" value="Upload new CSV file">
        </div>
      </form>





    </div>
  </div>
</main>

{% endblock %}
